@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/ie\.sass}line{font-family:\000031}}
table { border-collapse: collapse; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/ie\.sass}line{font-family:\000034}}
table thead td { padding: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/ie\.sass}line{font-family:\000037}}
#header #main_navigation { margin-top: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/ie\.sass}line{font-family:\000039}}
#header .breadcrumb { margin-top: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/ie\.sass}line{font-family:\0000311}}
input { padding-top: 5px; }
