@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\000032}}
ul.menu { list-style: none; margin: 0; padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\000036}}
ul.menu * { margin: 0; padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\000039}}
ul.menu a { display: block; color: black; text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000313}}
ul.menu .sub { background: white url(../images/arrow.gif) 138px 16px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000315}}
ul.menu li { float: left; position: relative; margin-right: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000319}}
ul.menu li.spacer { float: left; position: relative; height: 1px; background: #e0dedd; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000324}}
ul.menu li ul { position: absolute; top: 30px; left: 0; background: white; display: none; opacity: 0; list-style: none; border: 1px solid #e0dedd; border-top: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000335}}
ul.menu li ul ul { left: 148px; top: -1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000338}}
ul.menu li ul li { position: relative; border-top: none; width: 148px; margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000343}}
ul.menu li ul li a { display: block; float: left; width: 132px; padding: 15px 10px 15px 10px; background-color: white; font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/menu\.sass}line{font-family:\0000350}}
ul.menu li ul li a:hover { background-color: #eeeeee; }
