@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/WEB\/admin-skin\/src\/typography\.sass}line{font-family:\000031}}
h1 { float: left; font-size: 2.6em; line-height: 2em; width: 100%; margin: 10px 0px 10px 0px; }
